<h1> Yeni soru buradan sorulur </h1>
<%= form_for :question, url: questions_path do |f| %>
	<% if @question.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@question.errors.count, "error") %> prohibited this post from being saved: </h2>
	<ul>
	<% @question.er.full_messages.each do |msg| %>
		<li><%= msg %></li>
<% end %>
	</ul>
	</div>
	<% end %>
	<p>
	<%= f.label :question %><br>
	<%= f.text_field :question %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>
<%= link_to 'back', questions_path %>